.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modalBox {
  background-color: rgb(30, 30, 30);
  padding: 20px;
  border-radius: 11px;
  width: 300px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

/* Input */
.modalBox input {
  width: 100%;
  padding: 8px;
  margin: 12px 0;
  background-color: rgb(10, 10, 10);
  color: rgb(190, 190, 190);
  border: none;
  border-radius: 6px;
}

/* Buttons */
.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modalActions button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.modalError {
  margin-top: 6px;
  color: rgb(200, 80, 80);
  font-size: 14px;
}
.hidden {
  display: none;
}
